.employee-info {
    /* background: pink; */
}

.dashboard-icons {
    width: 20px;
    height: 20px;
}

.clockin-btn {
    border: none !important;
    background: rgb(0, 216, 47) !important;
}

.clockout-btn {
    border: none !important;
    background: rgb(235, 59, 59) !important;
}

.clockin-table {
    position: relative;
    margin-top: 50px;
    margin-bottom: 125px;
}

.scrollable {
    background: pink;
    overflow-y: scroll;
}

.attributions {
    font-size: 15px;
    text-align: center;
}

/* icon colors: background - #429599 & person - #B3E1E1  */