.employee-info {
    /* background: pink; */
}

.dashboard-icons {
    width: 20px;
    height: 20px;
}

.clockin-btn {
    border: none !important;
    background: rgb(0, 216, 47) !important;
}

.clockout-btn {
    border: none !important;
    background: rgb(235, 59, 59) !important;
}

.clockin-table {
    margin-top: 7%;
}

.scrollable {
    background: pink;
    overflow-y: scroll;
}