.sunpunch-nav {
    background: rgb(136, 178, 255);
}

.footer {
    background:  rgb(136, 178, 255);
    /* position: absolute; */
    margin-top: auto;
    bottom: 0;
    width: 100%;
}

.confirm-btn {
    border: none !important;
    background: rgb(0, 216, 47) !important;
}

.cancel-btn {
    border: none !important;
    background: rgb(235, 59, 59) !important;
}